*{
    margin: 0 auto;
    padding: 0px;
    box-sizing: border-box;
    /* border: 1px solid white; */
}

:root{
    --orange: rgb(189, 104, 25);
}

html{
    background: rgb(0, 0, 0);
    color: rgb(228, 224, 224);
}

.container{
    margin: 0 auto; 
    padding: 0px; 
    box-sizing: border-box;
}

h1{font-family: 'Roboto Slab', serif;}  

.container .side{
     width: 25vw;
     padding-inline: 10px;
     background: rgb(12, 12, 12);
     border-radius: 15px;
     border: 1px solid rgb(88, 88, 88);
     box-shadow: 11px 1px 10px black;
    }

.side .side_1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    gap: 10px; 
    border-bottom: 1px solid rgb(163, 161, 161);
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.container .side .avatar{
      width: 15vw;
      height: auto;
}

.side .side_1 > p{
    background: var(--orange);
    padding: 5px 15px;
    border-radius: 5px;
}

.side_2 .side_info{
    display: flex;
    /* justify-content: ; */
    align-items: center;
    border-bottom: 1px solid white;
    padding: 15px 5px;
    margin-bottom: 10px;
    border-radius: 4px;
} 

.side_2 .side_info .side_icon{
    border: 1px solid white;
    padding: 10px;
    border-radius: 5px;
}