@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&family=Montserrat&family=Poppins:ital,wght@0,400;0,700;1,400&family=Raleway:wght@300;400&family=Roboto+Slab:wght@100;200;500;600;700&family=Sono:wght@500&family=Tilt+Neon&display=swap');

*{
    margin: 0 auto;
    padding: 0px;
    letter-spacing: 1px;
    scroll-behavior: smooth;
}

:root{
    --white: rgb(240, 236, 236);
    --black: rgb(20, 20, 20);
    --red: rgba(202, 22, 22, 0.404);
    --gray: rgba(204, 204, 204, 0.404);
    --orange: rgb(172, 108, 12);
    --pink: rgb(239, 82, 108);
}

h1, h2, h3, h4, h5{
font-family: 'Montserrat', sans-serif;
font-weight: lighter;
color: rgba(20, 20, 20);
}

p{
    font-family: 'Montserrat', sans-serif;
    color:  rgba(20, 20, 20, 0.6);
    font-weight: 360;
}

a{
    text-decoration: none;
 }

.banner{
     width:100vw;
     min-height: 300px;
}

#banner_video{
    width: 100vw;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    position: fixed;
    right: 0px;
    top: 0px;
    z-index: -1;
}  

.social_media{
    color: var(--white);
    text-align: center;
    font-size: 16px;
}

.banner li{
    display: inline-block;
    margin: 10px;
    color:var(--white);
}
.banner li a{
    font-size: 25px;
    color: var(--white);
    animation-name: beep2;
    animation-duration: 0.3s;
    animation-iteration-count: infinite;
}

.banner li a:hover{
      color: rgba(255, 110, 135, 0.851);
      transition: ease 0.3s;
}

.banner_text{
    font-size: 30px;
    text-align: center;
    margin-top: 350px;
}

.banner_text p{
    color: rgb(241, 81, 108);
}

.banner_text h4{
    padding: 5px;
    width: auto;
    letter-spacing: 2px;
    color: rgb(172, 108, 12);
}

@keyframes beep{
    0%{
        text-shadow: 0px 0px 0px rgb(237, 95, 95);
    }
    50%{
        text-shadow: 0px 0px 12px rgb(237, 95, 95);
    }
    100%{
        text-shadow: 0px 0px 0px rgb(237, 95, 95);
    }

}

.banner_text h1{
    animation-name: beep;
    animation-duration: 01s;
    animation-iteration-count: infinite;
    color: white;
    letter-spacing: 2px;
}

/* intro*/
.intro{
    background: rgb(239, 82, 108);
    width: 100vw;
    position: sticky;
    top: 0px;
    padding: 22px 0px;
}

.intro p{
    color: white;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

/* navbar */
.nav2{
    background: white;
    width: 100vw;
    text-align: center;
    position: sticky;
    top: 78px;
    padding: 15px 0px;
    display: flex;
    z-index: 2;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.496);
}

.nav2 a{
    color: rgb(239, 82, 108);
    margin-inline: 20px;    
}

/* section */
section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width:100vw;
    background: white;
    color: var(--black);
    padding: 20px 0px;
}

.who{
    height: 400px;
    width: 330px;
    border: 1px solid rgba(12, 12, 12, 0.418);
    padding: 50px;
    color: var(--black);
}

.who h2{
    font-size: 35px;
    margin: 30px 0px;
    padding-bottom: 7px;
    border-bottom: 2px solid var(--pink); 
}

.who h5{
    font-size: 20px;
    margin: 30px 0px; 
}

.who p{
    font-size: 17px;
    margin: 30px 0px;
    text-align: justify;
}

.who .div1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 3px;
    border-radius: 8px;
    border: 1px solid rgba(128, 128, 128, 0.867);
    align-items: center;
}

.who .div1 p{
    padding: 0px;
    margin: 0px;
    font-size: 20px;
    color: red; 
}

.who .div1 p::first-letter{
    color: var(--pink);
    font-weight: 550;
    font-size: 30px;
}

.who .div1:hover p::first-letter{
    color: rgb(255, 0, 0);
}

.who .div1:hover p{
    color: rgb(255, 0, 0);
}

.works{
    background: white;
    text-align: center;
}

.works h1::first-letter{
    color:red;
    font-size: 50px;
    border-bottom: 3px solid rgb(255, 0, 0);
}

.projects{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0px;
    /* border: 1px solid ; */
}

.freelance{
    width: 100vw;
    text-align: center;
    padding: 35px 0px;
}

.freelance h2{
    color: var(--white);
    line-height: 150px;
    font-size: 40px;
}

.hire_btn{
    color: white;
    font-size: 20px;
    background: var(--pink);
    outline: none;
    padding: 10px 50px;
}

.hire_btn:hover{
    transition: 0.2s;
    background: rgb(225, 50, 50);
}

.contact{
    width: 100vw;
    background: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

form{
    width: 60vw;
    padding: 50px 0px;
}

.form h2{
    padding: 5px;
}

.form h2::first-letter{
    content:" ";
    font-size: 40px;
    color: red;
    border-bottom: 5px solid red;
    border-radius: 5px;
}

input, textarea{
    width: 60vw;
    margin-top: 5px;
    padding: 15px 8px;
    border-radius: 5px;
    margin-inline: auto;
    border: 1px solid gray; 
}

input:focus {
    background: #04AA6D;
    outline: none; 
    border-color: white;
    color: white;
} 

textarea:focus {
    border: 2px solid #04AA6D;
    outline: none;
} 

input:focus::placeholder, textarea:focus::placeholder{
    color:white;
} 

input[type=submit]{
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 0px;
    cursor: pointer;
  }

.touch{
    /* height: 350px; */
    text-align: left;
    width: 25vw;
    border: 2px solid var(--pink);
    padding: 0px 10px;
}

.touch h2{
    padding: 10px 0px;
    font-size: 30px;
    color: var(--black);
    border-bottom: 2px solid var(--pink);
    margin-bottom:15px;
  
}

.touch h2::first-letter{
    content:" ";
    font-size: 45px;
    color: red;
    border-radius: 5px;
}

.touch p{
    padding: 10px 0px;
}

/* .section2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: 1px solid pink; 
}

.resume{
    width: 300px;
    height: auto;
    font-size: large; 
}

.resume h3{
    margin: 15px 0px;
    font-size: 35px;
    color: var(--black);
    padding-left: 10px;
}

.resume p{
    color: var(--black);
} */

/* .border-right{
    border-left: 5px solid var(--pink);
    border-radius: 6px;
} */

/* |card */

/* article{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background: white;
}

.card {
    background-color: transparent;
    width: 350px;
    height: 300px;
    border: 1px solid #f1f1f1;
}
  
 
.card_inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
  

.card:hover .card_inner {
    transform: rotateY(180deg);
}
  

.card_front, .card_back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}
  
.card_front {
    background-color: rgb(239, 82, 108, 0.5);
    color: black;
    line-height: 300px;
}

.card_front h1{
    font-size: 30px;
}
  
.card_back {
    background-color:white;
    color: var(--black);
    transform: rotateY(180deg);
    border: 1px solid  rgb(239, 82, 108);
} */