@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&family=Montserrat&family=Poppins:ital,wght@0,400;0,700;1,400&family=Raleway:wght@300;400&family=Roboto+Slab:wght@100;200;500;600;700&family=Sono:wght@500&family=Tilt+Neon&display=swap');

*{
    margin: 0 auto;
    padding: 0px;
    letter-spacing: 1px;
}

:root{
    --white: rgb(240, 236, 236);
    --black: rgb(20, 20, 20);
    --red: rgba(202, 22, 22, 0.404);
    --gray: rgba(204, 204, 204, 0.404);
    --orange: rgb(172, 108, 12);
    --pink: rgba(254, 77, 106, 0.851);
}

h1, h2, h3, h4, h5{
font-family: 'Montserrat', sans-serif;
font-weight: lighter;
color: rgba(20, 20, 20);
}

p{
    font-family: 'Montserrat', sans-serif;
    color:  rgba(20, 20, 20, 0.6);
    font-weight: 360;
}

.banner{
     width:100vw;
     min-height: 600px;
}

 #banner_video{
    width: 100vw;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    position: fixed;
    right: 0px;
    top: 0px;
    z-index: -1;
} 

.social_media{
    color: var(--white);
    text-align: center;
    font-size: 16px;
}

.banner li{
    display: inline-block;
    margin: 10px;
    color:var(--white);
}
.banner li a{
    font-size: 25px;
    color: var(--white);
    animation-name: beep2;
    animation-duration: 0.3s;
    animation-iteration-count: infinite;
}

.banner li a:hover{
      color: rgba(254, 77, 106, 0.851);
      transition: ease 0.3s;
}

.banner_text{
    font-size: 30px;
    text-align: center;
    margin-top: 350px;
}

.banner_text p{
    color: rgba(254, 77, 106, 0.851);
}

.banner_text h4{
    padding: 5px;
    width: auto;
    letter-spacing: 2px;
    color: rgb(172, 108, 12);
}

@keyframes beep{
    0%{
        text-shadow: 0px 0px 0px rgb(237, 95, 95);
    }
    50%{
        text-shadow: 0px 0px 12px rgb(237, 95, 95);
    }
    100%{
        text-shadow: 0px 0px 0px rgb(237, 95, 95);
    }

}

.banner_text h1{
    animation-name: beep;
    animation-duration: 01s;
    animation-iteration-count: infinite;
    color: white;
    letter-spacing: 2px;
}

/* navbar */
.nav2{ 
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
}

.nav2 a{
    color: var(--pink);
    text-decoration: none;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

/* section */

section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width:100vw;
    background: white;
    color: var(--black);
}
.section2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.who{
    height: 400px;
    width: 350px;
    border-inline: 1px solid rgba(12, 12, 12, 0.418);
    padding: 50px;
    color: var(--black);
}

.who h2{
    font-size: 35px;
    margin: 30px 0px;
    padding-bottom: 7px;
    border-bottom: 2px solid var(--pink); 
}

.who h5{
    font-size: 20px;
    margin: 30px 0px; 
}

.who p{
    font-size: 17px;
    margin: 30px 0px;
    text-align: justify;
}

.who .div1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 3px;
    border-radius: 8px;
    border: 1px solid var(--black);
    align-items: center;
}

.who .div1:hover{
    background: var(--pink); 
    border-color: white;
    transition: ease 0.2s;
}


.who .div1 p{
    padding: 0px;
    margin: 0px;
    font-size: 20px;
}



.resume{
    width: 300px;
    height: auto;
    font-size: large; 
}

.show{
    width: ;
}

.resume .show{
    display: hidden;
}

.resume:hover .show{
    display: block;
}

.resume h3{
    margin: 15px 0px;
    font-size: 35px;
    color: var(--black);
    padding-left: 10px;
}

.resume p{
    color: var(--black);
}

.border-right{
    border-left: 5px solid var(--pink);
    border-radius: 6px;
}